@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #82d8ab; /* Fondo blanco para todo el cuerpo del documento */
}

/* Estilos de la barra de navegación (sin cambios) */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 10px;
    font-family: 'Gabarito', sans-serif;
}

.navbar-left {
    flex: 1;
    text-align: left;
    height: 100%;
}

.navbar-right {
    flex: 1;
    text-align: right;
    height: 100%;
}

.navbar-left p {
    font-size: 20px;
}

.navbar-right a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.portfolio-content {
    text-align: center;
    padding: 50px 0;
}

.portfolio-content h2 {
    font-size: 70px;
    color: white;
    font-family: 'Gabarito', sans-serif;
    margin-top: -5px;
}

.portfolio-content img {
    width: 15%; /* Reducimos el tamaño de las imágenes */
    display: block;
    margin: 0 auto;
    margin-top: -30px;
}

.small-text {
    font-size: 26px;
    color: white;
    font-family: 'Gabarito', sans-serif;
    margin-top: -80px;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.line {
    flex: 1;
    border: 1px solid white;
    margin: 0 10px;
    max-width: 200px;
}

.star {
    font-size: 24px;
    color: white;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 50px; /* Espacio entre columnas (ajustado a 10px) */
    margin: 0; /* Sin margen superior */
    padding-top: 20px; /* Agregamos un espacio de 20px en la parte superior */
    background-color: white; /* Fondo blanco para el mosaico */
}

.mosaic-item {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mosaic-item img {
    max-width: 65%; /* Ajusta el ancho máximo al 100% para mantener el tamaño original */
    border-radius: 40px;
}
