@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

.footer {
    background-color: #82d8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .contact-title {
    font-size: 70px;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 0;
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input,
textarea,
button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 300px;
  font-family: 'Gabarito', sans-serif; 
  color: #82d8ab; 
}
  .input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  label {
    font-size: 20px; 
    color: #82d8ab; 
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    border: none;
    border-bottom: 2px solid #333; 
    padding: 20px; 
    background: transparent; 
    font-size: 18px; 
    color: #82d8ab; 
  }
  
  textarea {
    resize: vertical; 
  }
  
  button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #82d8ab; 
    border-radius: 5px;
    font-size: 18px;
    color: #333;
  }
  
  .divider-footer .line, .divider-footer .star {
    border-color: #333;
    color: #333;
  }

